.logo {
  line-height: 1;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;

  span {
    display: block;
    font-weight: 300;
  }

  .w {
    display: inline-block;

    &:not(:first-child) {
      margin-left: -28px;
    }

    &:first-child {
      margin-left: -3px;
    }
  }
}