.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 30px;
  padding-left: 30px;

  & > * {
    padding: 5px 0;

    &:last-child {
      margin-top: 25px;
    }
  }
}

.navButton {
  @extend %link;
}