@import "./common/fonts";
@import "./common/reset";

.app {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px;

  @media(max-width: 1366px) {
    width: 767px;
  }
}

.sidebar {
  min-width: 220px;
}

.content {
  width: calc(100% - 220px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.link {
  @extend %link;
}