.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.cardTitleArea {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;

  @include textarea();
  @include inputPlaceholder();
}

.cardTaskArea {
  @include textarea();
  @include inputPlaceholder();

  padding: 5px 0;
  border-bottom: 1px solid $grey;
}

.cardSendButton {
  @extend %link;

  margin-top: 10px;
}