.card {
  box-sizing: border-box;
  width: calc((100% - 30px * 2) / 3);
  flex: 0 0 calc((100% - 30px * 2) / 3);
  padding: 30px;
  background-color: $lightGrey;
  transition: .15s $easeOutSine 0.15s;

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}