.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 8px 0;
  z-index: 1;

  &:hover .taskActions {
      display: flex;
  }
}

.taskChecked {
  composes: task;

  text-decoration: line-through;
  color: dimgray;
}

.taskActions {
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.taskActionButton {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:hover img {
    opacity: 0.8;
  }

  img {
    width: 12px;
    height: 12px;
    opacity: 0.3;
  }
}