$url: '../../static/fonts';

@mixin setFont($fontName, $fontFile, $weight, $style) {
  @font-face {
    font-family: #{$fontName};
    src: url('#{$url}/#{$fontFile}-webfont.woff2') format('woff2'),
    url('#{$url}/#{$fontFile}-webfont.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}

@include setFont('Roboto', 'roboto-regular', normal, normal);
@include setFont('Roboto', 'roboto-italic', normal, italic);
@include setFont('Roboto', 'roboto-light', 300, normal);
@include setFont('Roboto', 'roboto-bold', 700, normal);
@include setFont('Roboto', 'roboto-black', 900, normal);