%link {
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: $Roboto;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: $grey;
  cursor: pointer;
  transition: .15s $easeOutSine;

  &:hover {
    color: $black;
  }
}

@mixin textarea() {
  font-family: $Roboto;
  line-height: 1.3;
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  overflow: hidden;
  resize: none;
}

@mixin inputPlaceholderDefault() {
  font-family: $Roboto;
  opacity: 1;
  transform: translateY(0);
  transition: .15s $easeOutSine;
}

@mixin inputPlaceholderOnFocus() {
  opacity: 0;
  transform: translateY(-10px);
}

@mixin inputPlaceholder() {
  &::-webkit-input-placeholder {
    @include inputPlaceholderDefault();
  }
  &::-moz-placeholder {
    @include inputPlaceholderDefault();
  }
  &:-ms-input-placeholder {
    @include inputPlaceholderDefault();
  }

  &:focus {
    &::-webkit-input-placeholder {
      @include inputPlaceholderOnFocus();
    }

    &::-moz-placeholder {
      @include inputPlaceholderOnFocus();
    }

    &:-ms-input-placeholder {
      @include inputPlaceholderOnFocus();
    }
  }
}