body {
  font-family: $Roboto;
  margin: 0;
  padding: 0;
  color: $black;
}

h1, h2, h3, h4, h5, h6, p, ul, article {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

textarea {
  padding: 0;
}

button,
textarea,
input {
  &:focus {
    outline: transparent;
  }
}