$white: #ffffff;
$black: #333333;
$grey: #b1b1b1;
$lightGrey: #f6f6f6;

$Roboto: 'Roboto', 'Arial', 'Helvetica', sans-serif;

// easings
$bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);